<mat-card>
  <mat-card-title class="mb-4">Аутентификация</mat-card-title>
  <mat-card-content>

    <form class="d-flex flex-column" [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Введите имя пользователя</mat-label>
        <input
          matInput
          placeholder="Имя пользоватя"
          formControlName="username"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Введите пароль</mat-label>
        <input
          matInput
          placeholder="Пароль"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          required
        />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Скрыть пароль'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="submit()"
      >
        Войти
      </button>
    </form>
  </mat-card-content>
</mat-card>
