<mat-toolbar color="primary" class="d-flex align-items-center justify-content-between">
  <span>Dashboard App</span>
  <div class="d-flex align-items-center" *ngIf="user">
    <div class="d-flex align-items-center">
      <mat-icon>account_circle</mat-icon>
      <small class="ml-2">{{ user?.firstName + ' ' + user?.lastName }}</small>
    </div>
    <button class="ml-4" mat-raised-button data-qa-id="exitBtn" (click)="exit()">Выход</button>
  </div>
</mat-toolbar>

<main class="main p-4">
  <router-outlet></router-outlet>
</main>
