/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-success {
    background-color: #00D1B2;
}

.bg-error {
    background-color: #F14668;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
