<div class="row">
  <mat-card class="date-forms">
    <mat-card-title class="m-3">Выберите диапазон дат</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="standard" class="mx-3">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input formGroupName="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="fromDate"
              placeholder="Start date"
            />
            <input matEndDate formControlName="toDate" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="
              form.controls.range.get('fromDate')?.hasError('matStartDateInvalid')
            "
            >Invalid start date</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.range.get('toDate')?.hasError('matEndDateInvalid')
            "
            >Invalid end date</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Сформировать
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div [hidden]="!response || responseOperations.length === 0" class="row">
  <mat-card class="info-graphics">
    <mat-card-title> График баланса </mat-card-title>
    <mat-card-content>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
      >
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>
</div>
<div [hidden]="!response || responseOperations.length === 0" class="row">
  <mat-card class="info-table-container">
    <mat-card-title>Операции</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="standard">
          <mat-label>Поиск по таблице</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Найти в таблице..." #input>
        </mat-form-field>
      </form>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="info-table mat-elevation-z3"
      >
        <ng-container matColumnDef="Код авторизации">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Код авторизации</th>
          <td mat-cell *matCellDef="let element">{{ element.authorizationCode }}</td>
        </ng-container>
        <ng-container matColumnDef="Дата операции">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата операции</th>
          <td mat-cell *matCellDef="let element">{{ element.operationDate | date: 'dd.MM.yyyy HH:mm' }}</td>
        </ng-container>
        <ng-container matColumnDef="Сумма операции, ₽">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Сумма операции, ₽</th>
          <td mat-cell *matCellDef="let element">{{ element.amount | number: '1.2'}}</td>
        </ng-container>
        <ng-container matColumnDef="Баланс, ₽">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Баланс, ₽</th>
          <td mat-cell *matCellDef="let element">{{ element.balance | number: '1.2'}}</td>
        </ng-container>
        <ng-container matColumnDef="Описание транзакции">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Описание транзакции</th>
          <td mat-cell *matCellDef="let element">{{ element.transactionDescription }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let index" (click)="openDialog(index)"></tr>
      </table>
      <mat-paginator
      [pageSizeOptions]="[3, 6, 9]"
      showFirstLastButtons
    ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
